:root {
--text: red;
--base:#E7EEED;
--black: black;

}

body{
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

/* centers text */
.welcomePage {
    display: flex;
    text-align: center;
}

/* centers text */
.questionPage {
    display: flex;
    text-align: center;
}

/* centers text */
#highScoreBoard {
    display: flex;
    text-align: center;
}

header div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--black);
    color: var(--base);
    border-radius: 40px;
    font-size: 15px;
}

/* floats timer to the left of the page */
.questionPage header div{
    float: left;
}

ul {
    width: 550px;
    padding: 0;
}

/* removes bullet points form list */
ul li {
    list-style-type: none;
    background-size: 50px;
    padding-top: 5px;
}

/* sets all buttons - bg black and tet white, adds a border radius  */
button {
    background-color: var(--black);
    color: var(--base);
    border-radius: 40px;
    font-size: 15px;
}
/* makes the questions font size large to stand out from answers */
#questions {
    font-size: 25px;
}

.listSection {
    display: flex;
    justify-content: center;
}

/* changes pointer to a hand when hovering over answer choices */
/* swaps color theme to highlight choices selected */
#answers li:hover {
    cursor: pointer;
    background-color: var(--black);
    color: var(--base);
    border-radius: 20px;
}

/* adjust the location of the timer to improve UX for smaller devices */
@media screen and (max-width: 576px) {
.timer {
    font-size: 10px;
}

#timerDiv {
    display: flex;
    justify-content: center;
}
}


