:root {
--background: black;
--text: red;
}

body{
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

header div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--background);
    color: var(--text);
    border-radius: 40px;
}

.welcomePage {
    display: flex;
    text-align: center;
}

.questionPage {
    display: flex;
    text-align: center;
}

.questionPage header div{
    float: left;
}

.welcomePage header div{
    float: left;
}



